@import "src/scss/variables.scss";

nav {
    background-color: $background-enf1;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 45px;
    height: 50px;
}

nav h1 {
    background-color: $primary;

    font-size: 1.2rem;
    text-shadow: -1px 1px 1px #00000097;
    padding: 7px 15px;
    border-radius: 30% 30% / 0% 100%;
}
