:root {
  /*Variables*/
  --background: #141414;
  --background-enf1: #1c1c1c;
  --background-enf2: #1d1f21;
  --background-enf3: #323438;

  --primary: #5B9A8B;
  --secondary: #445069;

  --message-header: #F7E987;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background);
  color: white;
}

button,
input {
  border: none;
  outline: none;
  font-weight: bold;

  transition-duration: .3s;
}

button {
  cursor: pointer;
  font-weight: bold;
}

button * {
  font-weight: bold;
}

button:hover {
  filter: brightness(.8);
}