// SCSS Variables
// --------------------------------------------------

// Colors

$background: #141414;
$background-enf1: #1c1c1c;
$background-enf2: #1d1f21;
$background-enf3: #232428;

$primary: #5b9a8b;
$primary-hover: #519081;
$secondary: #445069;

$message-header: #f7e987;
