// Colors

$background: #141414;
$background-enf1: #1c1c1c;
$background-enf2: #1d1f21;
$background-enf3: #232428;

$primary: #1668dc;
$primary-hover: #0a59c9;
$secondary: #324c70;

$message-header: #ffffff;
