@import "src/scss/variables.scss";

.messageContainer {
    display: flex;
    width: fit-content;

    z-index: 1;
    width: 100%;
    gap: 10px;

    .avatar > span {
        box-shadow: 0 0 5px $primary;
    }

    .message {
        word-wrap: break-word;

        max-width: 70%;
        min-width: 130px;
        border-radius: 20px;
    }

    .myMessage {
        background-color: $primary;
    }

    .otherMessage {
        background-color: $secondary;
    }

    .messageHeader {
        color: $message-header;
        font-weight: bold;
        font-size: 0.9rem;

        padding: 7px 15px;

        border-bottom: 1px solid #ffffff6f;
    }

    .messageBody {
        padding: 15px;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
    }
}
